.main-div{
  width: 100%;
  height: 100%;
  margin:5px;
}
.div-btn-menu{
  text-align: center;
  margin-top: 25px;
  margin-bottom: 100px;


}
.item{
  padding: 30px;
  margin:5px;
  background-color: #DCDCDC;
  color: blue;
  font-weight: bold;
  border-radius: 4px;
  
  
}
.span-title{
  position: relative;
  bottom:25px;
  right:25px;
}
.span-value{
  position: relative;
  top:25px;
  right:25px;
  font-size: 30px;
  font-weight: normal;
}
.item:hover {
  background-color: blue;
  color: white;
  
}

.right-div{
  color:red;
  width: 67%;
 
  margin-right:10px;
  float: right;

}
.left-div{
  width: 30%;
  float: left;
}